{% extends "encyclopedia/layout.html" %}

{% block title %}

    New Page

{% endblock %}

{% block body %}
    
        <form action="{% url 'newpage' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.title }}
                </div>
                {% if msg %}
                <div class="alert alert-warning" role="alert">
                    This title does exist "<a href="wiki/{{ title }}" class="alert-link">{{ title }}</a>". Edit it if you want
                  </div>
                {% endif %}
                <div class="mb-3">
                    {{ form.text }}
                </div>
                
                <input type="submit" name="su" value="create" class="btn btn-outline-primary">
        </form>
{% endblock %}