{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if edit %}
        {{ entry }}
    {% else %}
        New Page
    {% endif %}
{% endblock %}

{% block body %}
    
        <form action="{% url 'newpage' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.title }}
                </div>
                {% if filexists %}
                <div class="alert alert-warning" role="alert">
                    This title does exist "<a href="wiki/{{ title }}" class="alert-link">{{ title }}</a>". Edit it if you want
                  </div>
                {% endif %}
                <div class="mb-3">
                    {{ form.text }}
                </div>
                {{ form.edit }}
                {% if n %}
                <input type="submit" name="su" value="create" class="btn btn-outline-primary">
                {% else %}
                <input type="submit" name="su" value="edit" class="btn btn-outline-primary">
                {% endif %}
        </form>
{% endblock %}